body{

    margin: 0;
    
    text-align: center;
    
    background-color: antiquewhite;

    
    }
    
    .form-table{
    
    display: inline-block;
    
    left: 50px;
    
    table-layout: auto;
    }
    
.file{
    
    padding-left: 75px;
    
    size: 20px;
    
    flex: content;
    
    
    
    
    }