<div class="col-md-8 offset-md-3"><br><br>
   
    <h3> EmpAsset </h3><br>
    <div class="form-group">
    <form (ngSubmit)="onSubmit()">

        <div class="form-group row">
        <div class="col-sm-4">
        <label>EmployeeName<span style="color: red;font-weight:rgb(184, 32, 32)">*</span></label>
        <select class="form-control" name="employee" id="empId" [(ngModel)]="empasset.empId">
        <option *ngFor="let emp of employee" [value]="emp.empId">{{emp.displayName}}</option>
     </select>
    </div>
    
    <div class="col-sm-4">
    <label for="item">Item</label>
     <ng-multiselect-dropdown name="item" 
     [placeholder]="'Select item'" 
     [data]="eamasset" [(ngModel)]="empasset.items" 
     [settings]="dropdownSetting"
     (onSelect)="onItemSelect($event)" 
     (onselectAll)="onSelectAll($event)">
    </ng-multiselect-dropdown>
 </div>
</div>

            
    <div class="form-group row">
    <div class="col-sm-4">
     <label>IssuedOn<span style="color: red;font-weight:rgb(184, 32, 32)">*</span></label>
     <input type="Date" class = "form-control" name ="issuedOn"
     [(ngModel)] = "empasset.issuedOn">
     </div>
    <div class="col-sm-4">
        <label>issuedBy<span style="color: red;font-weight:rgb(184, 32, 32)">*</span></label>
       <input type="text" class = "form-control" id ="issuedBy"
        [(ngModel)] = "empasset.issuedBy" name="issuedBy">
       </div>
     </div>
     <div class="form-group row">
        <div class="col-sm-4">
            <label>ReturnOn</label>
            <input type="Date" class = "form-control" name ="returnOn"
            [(ngModel)] = "empasset.returnOn">
            </div>
    
        <div class="col-sm-4">
            <label>ReturnBy</label>
           <input type="text" class = "form-control" id ="returnBy"
            [(ngModel)] = "empasset.returnBy" name="returnBy">
           </div>
           </div>
           <div class="form-group row">
           
            <div class="col-sm-4">
                <label>ApprovedOn<span style="color: red;font-weight:rgb(184, 32, 32)">*</span></label>
                <input type="Date" class = "form-control" name ="approvedOn"
                [(ngModel)] = "empasset.approvedOn">
                </div>
        
    
       <div class="col-sm-4">
        <label>ApprovedBy<span style="color: red;font-weight:rgb(184, 32, 32)">*</span></label>
       <input type="text" class = "form-control" id ="approvedBy"
        [(ngModel)] = "empasset.approvedBy" name="approvedBy">
       </div>
       </div>
       <div class="form-group">
      <label>LongDescription</label>
       <textarea class = "form-control" id ="longDescription" rows="3"
       [(ngModel)] = "empasset.longDescription" name="longDescription"></textarea>
       </div>
       <button class="btn btn-success" type="submit"style="background-color:blue">Save</button>&nbsp;
       <button (click)=" goToEmpassetList()" class="btn btn-cancel" class="btn btn-danger" type ="cancel">Cancel</button>
    </form>
       </div>
    
